body {
  background-image: url("https://www.hdcarwallpapers.com/walls/mclaren_speedtail_4k_6-HD.jpg");
  background-repeat: no-repeat;
  background-size: cover;
   /* Fallback color */
}
div{
    margin-top: 50px;
}
p{
    margin-left: 60px;
    margin-right: 60px;
}
a {
  text-decoration: none;
  color : green;
}
.center-container {
    text-align: center;
}
