div{
    margin-top: 50px;
}
body {
  background-image:url(https://wallpapercave.com/wp/wp8879567.jpg);
  background-size:cover;
   /* Fallback color */
  background-position:center;
}

img{
    width : 600px;
    height : 350px;
    border: 2px solid #555;
    margin-left:50px;
}
figure {
  display: table; /* Makes figure only as wide as its content */
}
figcaption {
  margin-left:260px;
  padding-top: 10px;
  font-size: 1.2em;
}
ord > ul{
    list-style : none;
    display : flex;
    flex-wrap:wrap;
    gap : 50px;
}
ord > ul > li > a{
    text-decoration : none;
}


.dark-mode{
    background-color:black !important;
    color:white !important;
}
.container-flex {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
}
